<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SNGEast</key>
	<string>4_4.plist</string>
	<key>SNGNorth</key>
	<string>3_3.plist</string>
	<key>SNGSouth</key>
	<string>3_5.plist</string>
	<key>SNGTiles</key>
	<array>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
			<key>SNGName</key>
			<string></string>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
			<key>SNGName</key>
			<string></string>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
			<key>SNGName</key>
			<string></string>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
			<key>SNGName</key>
			<string></string>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
			<key>SNGName</key>
			<string></string>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
			<key>SNGName</key>
			<string></string>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
			<key>SNGName</key>
			<string></string>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
			<key>SNGName</key>
			<string></string>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
			<key>SNGName</key>
			<string></string>
		</dict>
	</array>
	<key>SNGWest</key>
	<string>2_4.plist</string>
</dict>
</plist>
