<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SNGEast</key>
	<string>2.plist</string>
	<key>SNGSouth</key>
	<string>5.plist</string>
	<key>SNGTiles</key>
	<array>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>block_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<true/>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
		</dict>
		<dict>
			<key>SNGImage</key>
			<string>free_tile.tiff</string>
			<key>SNGIsObstacle</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
